/** 공통 초기화 S */
body {margin: 0;}
a {text-decoration: none;}
dl, dt, dd, ul, ol, li {margin: 0; padding: 0;}
ul, ol {list-style: none;}
img {border:0;}
/** 공통 초기화 E */

/** 공통 버튼 S */
.btn {display: inline-block; border: 1px solid #a5b7c6; box-shadow: none; padding: 2px 7px; border-radius: 8px; coursor: pointer; font-size: 15px; color:#fff;}
.btn:hover {background: #fff; color: #000;}
.btn2 {display: inline-block; border: 1px solid #a5b7c6; box-shadow: none; padding: 2px 7px; border-radius: 8px; coursor: pointer; font-size: 15px; color:#374957; background-color: #ffff}
.btn2:hover {background: #000; color: #fff;}
section > a.btn {display:inline-block; width:60px; line-height:25px; text-align:center; background-color:#222; color:#fff;}
/** 공통 버튼 E */

/** 관리자 헤더 S */
header {padding: 0 20px; display: flex; justify-content: space-between; height: 50px; background: #D3D3D3; border-bottom: 1px solid #000; align-items: center; position: sticky; top: 0;}
header > section {display: flex;}
nav {align-self:center; padding-left: 40px;}
ul li {display: inline-block; padding: 0 10px;}
li > a {color: #000; font-size:1.2em;}
li > a:hover {text-decoration: underline;}
/** 관리자 헤더 E */

/** 관리자 메인 S */
/*td {text-align:center; border-top:1px solid black;}
tbody > tr:hover {background: #dcdcdc;}
caption {padding-bottom: 5px;}
.th_header {background-color:#e8e8e8; padding:5px; text-align:center; font-weight:bold; font-size:1.0em; text-align:center; border-bottom:1px solid black;}
.list {}
section > a {margin: 5px;}
.wrap {height:100px; width:900px; border-top:3px solid black; margin-top: 20px; border-bottom:1px solid black; max-width: 900px; margin: 0 auto;}
div {text-align: center;}*/
/** 관리자 메인 E */

/** 관리자 메인 S */
.code_list {height:100px; width:900px; border-top:3px solid black; margin-top: 20px; border-bottom:1px solid black; max-width: 900px; margin: 0 auto;}
.code_list td {text-align:center; border-top:1px solid black;}
.hover tr:hover {background: #dcdcdc;}
.th_header {background-color:#e8e8e8; padding:5px; text-align:center; font-weight:bold; font-size:1.0em; text-align:center; border-bottom:1px solid black;}
.code_add {height:100px; width:500px; border-top:3px solid black; margin-top: 20px; border-bottom:1px solid black; max-width: 900px; margin: 0 auto;}
.code_add td {text-align:center; border-top:1px solid black;}
.code_add th {text-align:center; border-top:1px solid black; background-color:#e8e8e8;}
.sort {height:100px; width:500px; max-width: 900px; margin: 0 auto; text-align: right;}
.sort2 {height:6px; width:900px; max-width: 900px; margin: 0 auto; text-align: right;}
caption {padding-bottom: 5px;}
section > a {margin: 5px;}
textarea {width:300px; height:163px; resize:none;}
select {width:306px; text-align:center;}
input {width:300px;}
/** 관리자 메인 E */

/** 관리자 푸터 S */
#wrap{min-height: calc(100vh - 90px);}
footer {display: flex; width: 100%; height: 90px; background: #3c3c3c; position: sticky; bottom: 0;}
/** 관리자 푸터 E */